body{
   background-color: rgb(220, 215, 215);
}
.container{
  margin: auto;
  -webkit-box-shadow: -1px 3px 12px -1px #000000; 
  box-shadow: -1px 3px 12px -1px #000000;
  background-color: #fff;
}

.main{
  display: flex;
}


@media (width:700px){

.container{
        margin: 2px;
  }

  .main{
    display: block;
  }

}